[submodule "EnableInterrupt"]
	path = EnableInterrupt
	url = ./EnableInterrupt
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = ./Adafruit-GFX-Library/
[submodule "Adafruit_SSD1306"]
	path = Adafruit_SSD1306
	url = ./Adafruit_SSD1306
